[submodule "libraries/Filters"]
	path = libraries/Filters
	url = https://github.com/PowerBroker2/Filters
[submodule "libraries/movingAvg"]
	path = libraries/movingAvg
	url = https://github.com/JChristensen/movingAvg
[submodule "libraries/SparkFun_MAX3010x_Pulse_and_Proximity_Sensor_Library"]
	path = libraries/SparkFun_MAX3010x_Pulse_and_Proximity_Sensor_Library
	url = https://github.com/sparkfun/SparkFun_MAX3010x_Sensor_Library/
[submodule "libraries/PeakDetection"]
	path = libraries/PeakDetection
	url = https://github.com/leandcesar/PeakDetection
[submodule "libraries/Adafruit_BusIO"]
	path = libraries/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO
[submodule "libraries/Adafruit_GFX_Library"]
	path = libraries/Adafruit_GFX_Library
	url = https://github.com/adafruit/Adafruit-GFX-Library
[submodule "libraries/Adafruit_SSD1306"]
	path = libraries/Adafruit_SSD1306
	url = https://github.com/adafruit/Adafruit_SSD1306
